body {
  padding-top: 90px;
}
form {
  width: 80%;
}
#head {
  font-size: 1.3em;
}
table {
  width: 98%;
}
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
.spacing-bottom {
  margin-bottom: 15px;
}
.spacing-top {
  margin-top: 15px;
}
.required::after {
  content: " *";
  color: red;
}
.required-star::before {
  content: "* ";
  color: red;
}
