body {
  padding-top: 120px;
}
#head {
  font-size: 1.3em;
}
table {
  width: 98%;
}
table, th, td {
  text-align:center;
}
.narrow {
  width: 6%;
}
.wide {
  width: 14%;
}
.wider {
  width: 26%;
}
.spacing-bottom {
  margin-bottom: 15px;
}
.spacing-top {
  margin-top: 15px;
}
.spacing-top-lg {
  margin-top: 25px;
}
.required::after {
  content: " *";
  color: red;
}
.required-star::before {
  content: "* ";
  color: red;
}
.message-box {
  border: 1px solid black;
  width: 50%;
  margin-left: 10px;
  margin-bottom: 6px;
}
.number-column {
  width: 98%;
}
.score-input {
  width: 50px;
}
.date-input {
  width: 50px;
}
.emphasis {
  color: red;
}
.name-col {
  width: 30%;
}
.score-col {
  width: 10%;
}
.day-date-col {
  width: 46%;
}
.date-col {
  width: 10%;
}
.day-col {
  width: 10%;
}
.small-comments {
  font-size: 0.9rem;
}
.squashed-list {
  line-height: 0.9rem;
}
