body {
  padding-top: 100px;
}
form {
  width: 80%;
}
#head {
  font-size: 1.3em;
}
table {
  width: 98%;
}
table, th, td {
  /*border: 1px solid black;
  border-collapse: collapse;*/
  text-align:center;
}
table .nums {
  width: 7%;
}
table .text {
  width: 18%;
}
table .email {
  width: 25%;
}
.spacing-bottom {
  margin-bottom: 15px;
}
.spacing-top {
  margin-top: 15px;
}
.required::after {
  content: " *";
  color: red;
}
.required-star::before {
  content: "* ";
  color: red;
}
